extends tablelayout

block content
  h1 #{title}
  - if(error)
    div.alert-error #{error}
  p Style: #{style}
  p Composer: #{composer}
  p Key: #{key}
  ul(style="list-style-type: none;")
    each chords in bars
      li= chords.chords


