extends tablelayout

block content
  h1 #{title}
  - if(error)
    div.alert-error #{error}
  p Style: #{style}
  p Composer: #{composer}
  p Key: #{key}
  ul(style="list-style-type: none;")
    li #{bar1}
    li #{bar2}
    li #{bar3}
    li #{bar4}
    li #{bar6}
    li #{bar7}
    li #{bar8}
  form(action="/logout", method="post")
        button(id="Logout", type="submit") Logout
  table(width='928', border='1', cellpadding='5')
    tbody
        tr
          th(width='45', scope='col')  
          th(width='208', scope='col') TA
          th(width='142', scope='col') Start Date
          th(width='128', scope='col') Deadline
          th(width='162', scope='col')
            p
              | Completion
              br
              | Date
          th(width='155', scope='col') Comment
        tr
          th(scope='row') A1
          td
            span.auto-style21(style='font-weight: bold;') Chris
          td #{as1start}
          td #{as1dead}
          td #{as1chris}
          td(class="#{as1chrisstyle}") #{as1chrisstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td #{as1start}
          td #{as1dead}
          td #{as1lucas}
          td(class="#{as1lucasstyle}") #{as1lucasstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td #{as1start}
          td #{as1dead}
          td #{as1muhammad}
          td(class="#{as1muhammadstyle}") #{as1muhammadstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td #{as1start}
          td #{as1dead}
          td #{as1lee}
          td(class="#{as1leestyle}") #{as1leestatus} 
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
        tr
          th(scope='row') A2
          td
            span.auto-style21(style='font-weight: bold;') Chris
          td #{as2start}
          td #{as2dead}
          td #{as2chris}
          td(class="#{as2chrisstyle}") #{as2chrisstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td #{as2start}
          td #{as2dead}
          td #{as2lucas}
          td(class="#{as2lucasstyle}") #{as2lucasstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td #{as2start}
          td #{as2dead}
          td #{as2muhammad}
          td(class="#{as2muhammadstyle}") #{as2muhammadstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td #{as2start}
          td #{as2dead}
          td #{as2lee}
          td(class="#{as2leestyle}") #{as2leestatus} 
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
        tr
          th(scope='row') A3
          td
            span(style='font-weight: bold;') Chris
          td #{as3start}
          td #{as3dead}
          td #{as3chris}
          td(class="#{as3chrisstyle}") #{as3chrisstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td #{as3start}
          td #{as3dead}
          td #{as3lucas}
          td(class="#{as3lucasstyle}") #{as3lucasstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td #{as3start}
          td #{as3dead}
          td #{as3muhammad}
          td(class="#{as3muhammadstyle}") #{as3muhammadstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td #{as3start}
          td #{as3dead}
          td #{as3lee}
          td(class="#{as3leestyle}") #{as3leestatus} 
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
        tr
          th(scope='row') A4
          td
            span.auto-style21(style='font-weight: bold;') Chris
          td #{as4start}
          td #{as4dead}
          td #{as4chris}
          td(class="#{as4chrisstyle}") #{as4chrisstatus}   
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lucas
          td #{as4start}
          td #{as4dead}
          td #{as4lucas}
          td(class="#{as4lucastyle}") #{as4lucasstatus}  
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Muhammad
          td #{as4start}
          td #{as4dead}
          td #{as4muhammad}
          td(class="#{as4muhammadstyle}") #{as4muhammadstatus} 
        tr
          th(scope='row')  
          td
            span(style='font-weight: bold;') Lee
          td #{as4start}
          td #{as4dead}
          td #{as4lee}
          td(class="#{as4leestyle}") #{as4leestatus} 
        tr
          th(bgcolor='#CCCCCC', scope='row')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')  
          td(bgcolor='#CCCCCC')
  br
  form(action="/taupdate" method="post")
    div
      label.add-on(for="date") Completion Date
      input(type="date", name="date")
      label.add-on(for="as") Assignment #
      select(name="as")
        option(value="as1", selected="selected") Assignment 1
        option(value="as2") Assignment 2
        option(value="as3") Assignment 3
        option(value="as4") Assignment 4
    button(type="submit" onclick="return validateForm();") Submit Date


