extends tablelayout

block content
  h1 #{title}
  - if(error)
    div.alert-error #{error}
  p Style: #{style}
  p Composer: #{composer}
  p Key: #{key}

  table

    -if(line1)
      tr
        each object in line1
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line1
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line2)
      tr
        each object in line2
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line2
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line3)
      tr
        each object in line3
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line3
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line4)
      tr
        each object in line4
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line4
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line5)
      tr
        each object in line5
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line5
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line6)
      tr
        each object in line6
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line6
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line7)
      tr
        each object in line7
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line7
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p  

    -if(line8)
      tr
        each object in line8
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line8
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p  

    -if(line9)
      tr
        each object in line9
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line9
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p  

    -if(line10)
      tr
        each object in line10
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line10
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line11)
      tr
        each object in line11
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line11
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line12)
      tr
        each object in line12
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line12
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line13)
      tr
        each object in line13
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line13
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 

    -if(line14)
      tr
        each object in line14
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line14
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 
      
    -if(line15)
      tr
        each object in line15
          -if(object.rehearsalLetter)
            td 
              p [ #{object.rehearsalLetter} ]
          -else
            td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          -if(object.alternateChords)
            td 
              p #{object.alternateChords}
          -if(object.text)
            td
              p #{object.text}
          -if(object.sign)
            td
              p #{object.sign}
          -if(object.coda)
            td
              p #{object.coda}
      tr
        each object in line15
          -if(object.time)
            td 
              p #{object.time} 
          -else
            td &nbsp&nbsp&nbsp
          -if(object.leftDoubleBarLine) 
            td 
              p || #{object.chords} |
          -else if(object.rightDoubleBarLine)
            td 
              p #{object.chords} ||
          - else if(object.finalBarLine)
            td
              p(style="font-weight: bold;") #{object.chords} ||
          - else if(object.rightRepeat)
            td
              p |: #{object.chords} 
          - else if(object.leftRepeat)
            td
              p #{object.chords} :|
          -else if(object.chords)
            td 
              p #{object.chords} |
          -else
            td
              p 